html {
    font-size: 16px;
}
body {
    background-color: #12747C;
    font-family: Monospace;
    font-size: 16px;
}
.sticky {
    position: fixed;
    width: 100%;
    top: 0px;
}
.navbar {
    z-index: 99999;
}
.navbar-brand {
    font-size: 2rem;
}

.imghover:hover {
    transform: scale(1.1, 1.1);
}

.footer {
    background-color: white;
}

.carousel-item {
    padding: 10px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    height: 100px;
    width: 100px;
    outline: none;
    background-size: 100%, 100%;
    border-radius: 50%;
    background-image: none;
}

.carousel-control-next-icon:after {
    content: '>';
    font-size: 55px;
    color: gray;

}

.carousel-control-prev-icon:after {
    content: '<';
    font-size: 55px;
    color: gray;
}
.custom
{
    padding-top:75px;
    width: 100%;
}
.pcustom
{
    padding:30vh;
    width: 100%;
    background-color: white;
}


p {
    font-size: 1rem;
    margin: 0;
    padding: 0;
}



img {
    border-radius: 20%;
    background-color: black;
    border: 2px;
    transition-delay: 0.2s;
    border-style: solid;
    border-color: black;
    display: block;
    margin: 10px auto;
}

.header__img {
    height: 40vh;
}


h1,h2 {
    text-align: center;
    color: white;
    font-family: Lobster;
    font-size: 7rem;
}


#start {
    padding-top: 90px;
    height: 100vh;
}


#contact {
    width:100%;
    padding-top:55px;
    text-align: center;
}

#portfolio {
    width: 100%;
    padding-top:90px;
    padding-bottom:90px;
    text-align: center;
    background-color: white;
    color:black;
}
@media (max-width: 590px) {
    h1, h2 {
        font-size: 3rem;
    }
    .navbar-brand {
        font-size: 1.25rem;
    }
    img{
        width:80%;
        height:80%;
    }
    .pcustom{
        padding:10vh;
    }
}